URxvt*depth: 32
urxvt*allow_bold: false
urxvt*cursorColor: #f70909
! Xft*dpi: 96
URxvt*background: rgba:0000/0000/0200/c800
urxvt*foreground: white
URxvt.boldFont:

!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3

urxvt*scrollBar: false

xterm*background: #f9f9f9
xterm*foreground: #383a42
xterm*cursorColor: #d0d0d0
xterm*color0: #000000
xterm*color1: #E45649
xterm*color2: #50A14F
xterm*color3: #986801
xterm*color4: #4078F2
xterm*color5: #A626A4
xterm*color6: #0184BC
xterm*color7: #A0A1A7
xterm*color8: #5c6370
xterm*color9: #e06c75
xterm*color10: #50A14F
xterm*color11: #986801
xterm*color12: #4078F2
xterm*color13: #A626A4
xterm*color14: #0184BC
xterm*color15: #ffffff

